<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zenodeo API^3</title>
    <link rel="stylesheet" type="text/css" href="./documentation/static/swagger-ui.css" >
    <link rel="icon" type="image/png" href="./documentation/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./documentation/static/favicon-16x16.png" sizes="16x16" />
    {{> meta}}
    <style>
        ul {margin-left: -40px;}
        div.code { width: 100%; font-size: 14px;
            padding: 5px 7px;
            border-radius: 4px;
            background: rgba(0,0,0,.05);
            font-family: monospace;
            font-weight: 600;
            color: #9012fe;}
        .swagger-ui .opblock .opblock-summary-path { flex-shrink: 0; max-width: unset; }
        * { box-sizing: unset; }
        /* hide the ugly swagger topbar */
        #swagger-ui div.topbar { display: none; }
        section.swagger-ui { padding: 0; }
        table { width: unset !important; }
    </style>
  </head>

  <body>
    <div class="container">
        {{> header}}
        
        <p>Zenodeo is a REST API for treatments and related data. All the queryable parameters are listed below under each resource. Please read the specific notes below:</p>

        <ul>
            <li>the entire URL is case-sensitive. The resource name is all lowercase and the query parameters use camelCase as appropriate</li>
            <li>the query <em>has</em> to be URL encoded. Browses may do this automatically, but if you are accessing the API programmatically, please URL Encode all params. Here is how to do it with <code>curl</code>
<div class="code"><pre><code>
$ curl -G -v "http://test.zenodeo.org/v3/treatments" \
    --data-urlencode "treatmentTitle=Ichneumonoidea (Homolobus) Foerster 1863" \
    --data-urlencode "publicationDate=between(2018-03-22 and 2019-12-03)"
</code></pre>
</div>
            </li>
            <li>it is possible to submit a query without any query parameters
<div class="code"><pre><code>
$ curl "http://test.zenodeo.org/v3/treatments"
</code></pre>
</div>
            </li>
            <li>if a parameter is provided, it <em>has</em> to be a valid parameter, that is, one of those listed below.</li>
            <li>if the query includes a resourceId (for example, "treatmentId" in the case of "treatments"), then no additional parameter is required.</li>
            <li>if the query includes any valid parameter <em>other</em> than the resourceId, then "$page" and "$size" are also required. If not provided, default values will be assigned automatically.</li>
        </ul>

        <div id="swagger-ui"></div>

        {{> footer}}
    </div>

    <script src="./documentation/static/swagger-ui-bundle.js"> </script>
    <script src="./documentation/static/swagger-ui-standalone-preset.js"> </script>
    <script>
    function resolveUrl (url) {
        const anchor = document.createElement('a')
        anchor.href = url
        return anchor.href
    }

    // Begin Swagger UI call region
    const ui = SwaggerUIBundle({
        url: resolveUrl('./documentation/json').replace('static/json', 'json'),
        //url: '/documentation/json',
        oauth2RedirectUrl: resolveUrl('./oauth2-redirect.html'),
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
        ],
        plugins: [
            SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
    })
    // End Swagger UI call region

    window.onload = function() {
        window.ui = ui
    }
  </script>
  </body>
</html>
