<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta}}
</head>
<body>
    <div class="container">
        <div class="sub-container">
            {{> head}}
        </div>
        
        <div class="sub-container">
            {{{ content }}}
        </div>

        <div class="sub-container">
            {{> foot}}
        </div>
    </div>
</body>
</html>