<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Zenodeo API^3</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/uglyduck.css">
    <style>

treatmentCitation { font-style: italic; }
mods\:title {
    font-weight: 800;
    display: block;
}
mods\:typeOfResource { display: none; }
mods\:roleterm { display: none; }
mods\:namePart { color: grey; }
taxonomicName { color: red; }
    
    </style>
</head>
<body>
    <div class="container">

        
        <div class="sub-container">
            {{{ content }}}
        </div>


    </div>
</body>
</html>